
header {
  background-color: #4caf50;
  color: white;
  padding: 2rem;
}
h1 {
  text-align: center;
}
.App{
  display: flex;
  justify-content: center;
}
.container {
  width: 80%;
  margin: 0 auto;
}